#taw-header {
    padding: 0;
    height:80px;
    nav{
        @include gradient-bg();
        height:80px;
        .logo-container{
            padding-top:10px;
            img{
                line-height: 0;
                width:86px;
            }
        }
        .search-section{
            .search-top,.instruction{
                line-height:20px;
            }
            .search-top{
                font-size: 18px;
                padding: 5px 0 10px 10px;
            }
            .instruction{
                font-size: 12px;                
                padding: 0 0 10px 10px;
            }
        }
        .mic-icon{
            line-height: 16px;
            .btn{
                background-color: #ffffff;
                .material-icons{
                    line-height: 40px;
                    height:40px;
                    color:#fe6700;
                }
            }

        }

    }

    //.logo-wrapper {
    //    img {
    //        width: 90px;
    //    }
    //}
    //.search-msg {
    //    margin: 0;
    //    padding-top: 10px;
    //}
    //.material-icons {
    //    font-size: 60px;
    //}
    //.container {
    //    margin: 0 auto;
    //    max-width: 1280px;
    //    width: 90%
    //}
    //@media only screen and (min-width: 601px) {
    //    .container {
    //        width: 85%
    //    }
    //}
    //@media only screen and (min-width: 993px) {
    //    .container {
    //        width: 90%
    //    }
    //}
}